<div class="css">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>投稿者:</strong>
    <%= @feed.user.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= image_tag @feed.image.url, size: "300x300"  %>
  </p>

  <p>
    <strong>content:</strong>
    <%= @feed.content %>
  </p>

  <%= link_to 'Edit', edit_feed_path(@feed) %> |
  <%= link_to 'Back', feeds_path %>
</div>
